.App {
  max-width: 900px;
  margin: auto;
}

.Card {
  background-color: #36393f;
  box-shadow: -2px 8px 5px #232327;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  border-radius: 5px;;
}

.Slide {
  display: flex;
  justify-content: center;
  margin: 20px;
  column-gap: 10px;
}
